@using RankMe.Utilities



<div id="@Helper.GetGadgetId(this)" class="gadget-SignInBySocial">

   
    <div class=""></div>

    <div class="">

        <input id="txtUsername" />

        <input id="txtPassword" type="password" />

        <button id="btnSubmit" type="button">Log In</button>

    </div>


</div>