@model RankMe.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">

    @Html.Partial("Gadgets/SignInByNonSocial") 

</section>

<section class="social" id="socialLoginForm">
    
    
    @*@Html.Partial("Gadgets/SignInBySocial")*@
   <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
